<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add new product</h1>
    <form action="/products" method="post">
        <input type="text" name="name" placeholder="productName">
        <input type="number" name="price" placeholder="Price">
        <select name="category">
            <option value="fruit">fruit</option>
            <option value="veggi">veggi</option>
            <option value="dairy">dairy</option>
        </select>
        <button> submit</button>
    </form>
</body>
</html>